<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odynex</title>
  </head>

  <body>
    <%- include('./partials/navbar') %>
    <section class="error">
      <h1>Fatal error!</h1>
      <h3>We have encountered some error!</h3>
      <h4><i><%=err%></i></h4>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
