<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odynex</title>
  </head>

  <body>
    <%- include('./partials/navbar') %>
    <section class="messages">
      <% for(let i=0;i< messages.length;i++) { %>
      <div class="message">
        <h2 class="message__user"><%= messages[i].user %></h2>
        <p class="message__text"><%= messages[i].text %></p>
        <button class="message__details">
          <a href="/messages/">Open</a>
        </button>
      </div>
      <% } %>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
