<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odynex</title>
  </head>

  <body>
    <%- include('./partials/navbar') %>
    <section class="messages">
      <% messages.forEach(message=> { %>
      <div class="message">
        <h2 class="message__user"><%= message.user %></h2>
        <p class="message__text"><%= message.text %></p>
        <button class="message__details">
          <a href="/user">Open</a>
        </button>
      </div>
      <% }) %>
    </section>
    <%- include('./partials/footer') %>
  </body>
</html>
